flask
flask-cors
gunicorn
python-dotenv
langchain-community
langchain-text-splitters
transformers==4.30.2  # Version stable compatible avec sentence-transformers
sentence-transformers==2.2.2  # Éviter les bugs avec transformers 4.32+
torch==2.0.0
